.App {
  display: flex;
  padding: 10px;
  gap: 10px;
  justify-content: space-evenly;
}

.homepage-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border: solid 1px black;
  width: 400px;
}

.employee-box {
  border: solid 1px black;
  padding: 5px;
}

.search-bar {
  padding: 7px;
  margin-bottom: 40px;
}

.employee-list-box {
  display: flex;
  flex-direction: column;
  padding: 5px;
  gap: 10px;
}

.employee-page {
  border: solid 1px black;
  width: 400px;
}

.employee-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info {
  padding: 10px;
  border: solid black 1px;
  gap: 20px;
}

.employee-header {
  display: flex;
  justify-content: center;
}
